/* General page style */
body {
	background-image: url("images/Background.png");
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaf3fa;
}


/* Main layout - two columns */
.main {
    display: flex;
    height: calc(100vh - 60px);
}

/* Left panel */
.left-panel {
	margin-top: 20px;
    width: 35%;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    border: 12px solid #e6a9b7;
    overflow-y: auto;
}

.left-panel h2 {
    margin-top: 0;
    color: #9c3353;
}

.left-panel label {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    cursor: pointer;
    color: #d45d79;
}

.left-panel input {
    margin-right: 8px;
}

.left-panel button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #d45d79;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.left-panel button:hover {
    background-color: #9c3353;
}

/* Right panel */
.right-panel {
    width: 65%;
    background-image: url("images/Background.png");
    padding: 20px;
    overflow-y: auto;
    margin-left: 5px;
    
}

.right-panel h2 {
    margin-top: 0;
    color: #9c3353;
}

.right-panel p {
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    border: 0px solid #e6a9b7;
    overflow-y: auto;
    margin: 5px 0;
}

.right-panel ul {
    list-style-type: none;
    padding-left: 0;
}

.right-panel li {
	
	display: block;
    
    font-size: 14px;
    cursor: pointer;
    color: #d45d79;
    margin-bottom: 5px;
}